modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["unzip", "ffmpeg"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "64636004330-m3fjv7koavrhqhjjv0grgaqu5gndq5sr.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
B2_ENDPOINT = "s3.us-east-005.backblaze.com"
B2_PREVIEW_BUCKET = "beats-previews"
B2_KEY_ID = "003b09e916418fa0000000001"
B2_ZIP_BUCKET = "beats-zips"
B2_KEY_SECRET = "K003/nVpwGkmnxkNSV6BmGQ7aDZnH58"
